@media screen and (min-width: 768px) and (max-width: 1024px)  {

/*Navbar*/
.home{
    display: none;
}
.navb{
    display:none;
}
.heading{
    font-size: 35px;
}
.navbar-brand{
    font-size: xx-large;
    margin-left: 40%;
    margin-top: 5%;
}
.navbar-brand img{
    width: 50px;
    height:50px;
}
/*navbar*/

h1{
    font-size: 32px;
    font-weight: bold;  
}
.sub{
    text-align: center;
}

/*progress*/
.year{
    font-size: 20px;
    font-weight: bold;
    
}
.pro{
   
    font-weight: 400;
    font-size:16px;
}

/*Investors*/
.card-img{
    width: 200px;
    margin-left: auto;
    margin-right: auto;

}
.combo,.strive{
    margin-top: 70px;
}
.monks,.wave{
    margin-top: 40px;
}

/*footer*/
.foot{
    font-size: 12px;
}
.end{
    font-size:16px;
}
.social{
    margin-left: 500px;
    float: right;
}
.copy{
    font-size:12px;
}
}
